* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .login,
  .sign-up,
  .forgot-password,
  .about,
  .admin-mainpage {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    font-size: 3rem;
  }
  
  .login {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
  }
  
  .sign-up {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
  }
  
  .forgot-password {
    background-image: url('./assets/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
  }

  .about {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
  }

  .admin-mainpage {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
    padding-top: 5%;
  }
  