* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .login,
  .sign_up,
  .forgot_password,
  .about,
  .admin_mainpage {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    font-size: 3rem;
  }
  
  .login {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
  }
  
  .sign_up {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
  }
  
  .forgot_password {
    background-image: url('./assets/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
  }

  .about {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    justify-content: center;
  }

  .admin_mainpage {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
    padding-top: 5%;
  }

  @media screen and (max-width: 960px) {
     h1 {
        font-size: 70px;
        margin-top: -150px;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
        margin-top: -100px;
    }

    p {
      font-size: 28px;
    }
  }