#main-container {
    color: orange;
    cursor: pointer;
    background-color: white;
    border-radius: 7%;
    border: 1px solid black;
    min-width: 700px;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 2%;
}